<li>
  <b><%= volunteer.name %></b> (<%= link_to "Edit", edit_organization_volunteer_path(@organization, volunteer) %>) (<%= link_to "Delete", organization_volunteer_path(@organization, volunteer), method: :delete, data: { confirm: "You sure?"} %>)
  <br><%= volunteer.description %>
</li>