<% provide(:title, @volunteer.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h3>
				<%= @volunteer.name %>
			</h3>
		</section>
		<section>
			<p>Time: <%= @volunteer.date %></p>
			<p><%= link_to "Back", organization_path(@organization) %></p>
		</section>
	</aside>
	<div class="span8">
		<p><%= @volunteer.description %></p>
	</div>
</div>