<% provide(:title, 'About') %>
<h1><%= yield(:title) %></h1>
<p>
  This listing is set up and run by Frank Lee. He hopes that by making finding volunteer opportunities easier, people will do it more. He can be contacted through email at frank.junheng@gmail.com. This listing is meant especially for the Duke University community.
</p>
<blockquote>Then he said, “Jesus, remember me when you come into your kingdom.”<br>Jesus answered him, “Truly I tell you, today you will be with me in paradise.”
<br>-Luke 23:42-43</blockquote>